/* src/components_css/SimulatorRightPanel.css */

.simulator-right-panel-root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.graph-view-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #e8f5e9;
  padding: 0.5rem;
  min-height: 460px;
  color: #999;
  font-style: italic;
}